#!/usr/bin/env ruby

compile '/index.md' do
  filter :govspeak
  layout '/default.*'
  write '/index.html'
end

compile '/**/*.slim' do
  filter :slim
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.md' do
  filter :govspeak
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

%w(woff woff2).each do |ext|
  compile("/**/*.#{ext}") do
    write '/assets/fonts/' + File.basename(item.identifier.to_s)
  end
end

# only compile application.scss, everything we need will
# be @included from there
compile '/assets/css/application.scss' do
  filter :sassc, syntax: :scss, style: :compact, load_paths: %w(content/assets/css/)
  snapshot :css
  write '/css/application.css'
end
ignore '/assets/css/**/*'

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
